/* Exercise 1: Flexbox
    Create a row with three elements, where the first and last elements are twice as wide as the middle element.
*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.item {
    border: 1px solid #333;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.double-width {
    flex-grow: 2;
}

/* Exercise 2: Flexbox
    Create a column layout with five elements, where the second and fourth elements are twice as tall as the others.
*/

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.item2 {
    border: 1px solid #333;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.double-height2 {
    flex-grow: 2;
}

/* Exercise 3: Grid
Create a 3x3 grid where each cell has a border, padding, and some content. Make the first row twice as tall as the other rows. */

.container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 1fr;
    grid-gap: 10px;
    margin: 0;
    height: 100vh;
}

.item3 {
    border: 1px solid #333;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

/* Exercise 4: Grid
Create a 2x4 grid where the first two cells each occupy two columns.
*/

.container4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    margin: 0;
    height: 100vh;
}

.item4 {
    border: 1px solid #333;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.double-width4 {
    grid-column: span 2;
}

/* Exercise 5: Combined
Create a structure that contains two rows. In the first row, use Flexbox to align three elements in the center. In the second row, use Grid to create a 2x2 layout.
*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.flex-row {
    display: flex;
    justify-content: center;
}

.flex-item {
    border: 1px solid #333;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.grid-item {
    border: 1px solid #333;
    padding: 20px;
    text-align: center;
}